/* Custom Scrollbar */
::-webkit-scrollbar { width: .5em; }
::-webkit-scrollbar-track { background: transparent }
::-webkit-scrollbar-thumb { background: #8F44AD; width:.5em; height: .5em}

table {
    border-collapse: collapse;
    min-width: 100%;
    /* table-layout: fixed; */
} 

th {
	resize: horizontal;
}

td, th {
    padding: .25em;
    word-wrap: normal;
    white-space: normal;
    text-overflow: ellipsis;
}

th {
    resize: horizontal !important;
}

.table-row:nth-child(odd), td:nth-child(odd), th:nth-child(odd), .cell:nth-child(odd) {
    background: #ffffff08;
}

.table-row:nth-child(even), td:nth-child(even), th:nth-child(even), .cell:nth-child(even) {
    background: #00000016;
}

.table-row:nth-child(even), td:nth-child(even), th:nth-child(even), .cell:nth-child(even) {
    background: #00000008;
}

.table-row.checked:nth-child(even) {
    background: papayawhip;
    font: black;
}

.table-row.checked:nth-child(odd) {
    background: peachpuff;
    font: black;
}

.table-row.checked input, .table-row.checked select {
    background: beige;
}

tr:hover, .table-row:hover {
    background: #2C97DD44;
}

tr:hover input, tr:hover select, .table-row:hover input, .table-row:hover select {
    background: lightgray;
}  


@media only screen and (max-width: 1920px) {
    /* body {
        font-size: 1em;
    } */
}

@media only screen and (max-width: 1366px) {
    /* body {
        font-size: .75em;
    } */
}