/* Custom Scrollbar */
::-webkit-scrollbar { width: .5em; height:.5em }

table {
    border-collapse: collapse;
    min-width: 100%;
    /* table-layout: fixed; */
} 

td, th {
    padding: .25em;
    word-wrap: normal;
    white-space: normal;
    text-overflow: ellipsis;
}

thead {
    border: none;
}

th {
    border: none;
    resize: horizontal !important;
}

.table-row:nth-child(odd) tr, td:nth-child(odd), .cell:nth-child(odd) {
    background: #ffffff08;
}

.table-row:nth-child(even) tr, td:nth-child(even), .cell:nth-child(even) {
    background: #00000016;
}