<template>
    <div id="help-page" class="row">
        <div class="row">
            <div class="row content-left px3">
                <h3 class='translate'>Help contact</h3>
                <p class="translate">
                    To ask for a bugfix, a system modification or just to clarify something, please access our form by <a class="link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=qiH5DUIohkO8jtGA5Z5nHK_fVOV8_XVKhrhxq9WMfJJUNE5MVDVaV0Q2UFhXVU9CWTlHNlhZUjlNNi4u" target="_blank">clicking here</a> and reach our technology team.
                    <br>
                    It will help us find the best solution to fit your needs.
                </p>
            </div>
        </div>
    </div>
    <style>
        #help-page h3 {
            opacity: .64;
        }
    </style>
</template
