<template>

    <!-- GITHUB's profile -->
    <div class="row px4 content-center">
        <div class="left" style="width: 5em;">
            <img
                src="https://avatars.githubusercontent.com/u/13678082?s=96&v=4"
                alt="Rafsb's profile picture on github"
                class="circle px"
                style="height: 4em;width:4em;"
            />
        </div>
        <div class="left px" style="width: calc(100% - 5em);">
            <span class="row px content-left ellipsis bold">
                Rafael Bertolini (<a class="link" href="https://github.com/rafsb" target="_blank" style="color: {{peter_river}};">rafsb</a>)
            </span>
            <div class="row content-left px">
                <label class="row ellipsis" style="opacity:.32;">
                    FW's main developer at github
                </label>
            </div>
        </div>
    </div>

    <!-- MENU -->
    <nav class="row ph4">

    </nav>

</template>